body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(#076585, #FFFFFF);
}

.fejlec h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.flex-container nav a {
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    background-color: cadetblue;
    color: white;
    width: 150px;
    text-align: center;
    font-size: 25px;
    margin: 0 15px 0 15px;
}

.flex-container nav a:hover {
    background-color: aliceblue;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.box {
    border: 1px solid black;
    padding: 15px;
}

.box h3 {
    font-weight: bold;
    font-size: 25px;
}

.box p {
    text-align: justify;
    line-height: 1.5;
    text-indent: 15px;
    font-size: 18px;
}

.box:nth-child(1) {
    background-color: beige;
    grid-row: span 2;
}

.box:nth-child(2) {
    background-color: azure;
    grid-column: span 2;
}

.box:nth-child(3) {
    background-color: aqua;
    grid-column: span 2;
}

.box:nth-child(4) {
    background-color: antiquewhite;
    grid-column: span 3;
}

#kovetkezo {
    margin-top: 20px;
    margin-bottom: 0;
}

.lablec h2 {
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (max-width:720px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .flex-container {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        text-align: center;
    }

    .flex-container nav a {
        text-decoration: none;
        border: 1px solid black;
        display: inline-block;
        padding: 15px;
        background-color: cadetblue;
        color: white;
        width: 300px;
        text-align: center;
        font-size: 25px;
        margin: 15px 0 15px 0;
    }

    .flex-container nav a:hover {
        background-color: aliceblue;
        color: black;
    }

    .box h3 {
        font-weight: bold;
        font-size: 28px;
    }

    .box p {
        text-align: justify;
        line-height: 1.5;
        text-indent: 15px;
        font-size: 22px;
        font-weight: bold;
    }

    .box:nth-child(1) {
        background-color: beige;
        grid-row: span 1;
    }

    .box:nth-child(2) {
        background-color: azure;
        grid-column: span 1;
    }

    .box:nth-child(3) {
        background-color: aqua;
        grid-column: span 1;
    }

    .box:nth-child(4) {
        background-color: antiquewhite;
        grid-column: span 1;
    }
}